<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>mbti 메인 페이지</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <!-- Custom styles for this template -->
  <link href="carousel.css" rel="stylesheet">

  <!-- JS -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>

  <!-- 쿠키 사용을 위한 Jquery-cookie 임포트 -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>


  <meta property="og:title" content="너의 성격은?" />
  <meta property="og:description" content="MBTI의 모든 것을 알려드립니다." />
  <meta property="og:image" content="{{ url_for('static', filename='css/image/ogimage.jpg') }}" />
  <script>
    // 로딩 후 바로 실행
    $(document).ready(function () {
      if ($.cookie('mytoken') == undefined) {
        // mytoken이라는 값으로 쿠키가 없으면, 로그인 창으로 이동시킵니다.
        alert('먼저 로그인을 해주세요')
        window.location.href = '/login'
      } else {
        // 쿠기가 있으면, 유저 정보를 불러옵니다.
        load_user_info()
      }
    });

    // 쿠키에 가지고 있는 token을 헤더에 담아서 보냅니다.
    function load_user_info() {
      $.ajax({
        type: "GET",
        url: "/api/nick",
        headers: { 'token_give': $.cookie('mytoken') },
        data: {},
        success: function (response) {
          if (response['result'] == 'success') {
            // 올바른 결과값을 받으면 nickname을 입력해줍니다.
            $('#nickname').text(response['nickname'])
          } else {
            // 에러가 나면 메시지를 띄우고 로그인 창으로 이동합니다.
            alert(response['msg'])
            window.location.href = '/login'
          }
        }
      })
    }

    // 로그아웃은 내가 가지고 있는 토큰만 쿠키에서 없애면 됩니다.
    function logout() {
      $.removeCookie('mytoken');
      alert('로그아웃!')
      window.location.href = '/login'
    }

    function mbti1() {
      window.location.href = '/mbti1'
    }

    function mbti2() {
      window.location.href = '/mbti2'
    }

    function superstar() {
      window.location.href = '/superstar'
    }
  </script>
  <style>
    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }

    #banner {
      margin-top: 40px;
      text-align: center;
    }

    #image1 {
      width: 150px;
      height: 150px;
      margin-bottom: 20px;
    }

    #viewbt {
      background-color: orange;
      color: white;
    }
  </style>
</head>

<body>
  <header>

    <nav class="navbar navbar-dark shadow-sm" style="padding: 1; background-color:#F9A762;">
      <a class="navbar-brand" href="/">MBTI</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
        aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">HOME <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" onclick="logout()">LOGOUT</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">CUSTOMER CENTER</a>
          </li>
        </ul>
        <form class="form-inline mt-2 mt-md-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search"
            style="height: 44px;">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><img
              src="{{ url_for('static', filename='css/image/search.jpg')}}" alt="검색" width="31px"
              height="31px"></button>
        </form>
      </div>
    </nav>
  </header>

  <main role="main">

    <div id="demo" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <!-- 슬라이드 쇼 -->
        <div class="carousel-item active">
          <!--가로--> <img class="d-block w-100" src="{{ url_for('static', filename='css/image/hi.png') }}"
            alt="First slide" height="600px">

        </div>
        <div class="carousel-item"> <img class="d-block w-100"
            src="{{ url_for('static', filename='css/image/hi2.png') }}" alt="Second slide" height="600px">

        </div>
        <div class="carousel-item"> <img class="d-block w-100"
            src="{{ url_for('static', filename='css/image/hi3.png') }}" alt="Third slide" height="600px">

        </div> <!-- / 슬라이드 쇼 끝 -->
        <!-- 왼쪽 오른쪽 화살표 버튼 --> <a class="carousel-control-prev" href="#demo" data-slide="prev"> <span
            class="carousel-control-prev-icon" aria-hidden="true"></span> <!-- <span>Previous</span> -->
        </a> <a class="carousel-control-next" href="#demo" data-slide="next"> <span class="carousel-control-next-icon"
            aria-hidden="true"></span> <!-- <span>Next</span> --> </a>
        <!-- / 화살표 버튼 끝 -->
        <!-- 인디케이터 -->
        <ul class="carousel-indicators">
          <li data-target="#demo" data-slide-to="0" class="active"></li>
          <!--0번부터시작-->
          <li data-target="#demo" data-slide-to="1"></li>
          <li data-target="#demo" data-slide-to="2"></li>
        </ul> <!-- 인디케이터 끝 -->

      </div>
    </div>


    <!-- Marketing messaging and featurettes
  ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

      <div class="album py-5 bg-light">
        <div class="container">

          <div class="row">
            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
                <div class="card-body">
                  <h2>MBTI별 성격 유형</h2>
                  <p class="card-text">자신의 성격 유형이 궁금하신분! <br> 자신의 성격에 대한 상세한 설명을 제공합니다.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" id="viewbt" class="btn btn-sm btn-outline-secondary" onclick="mbti1()">보러가기</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
                <div class="card-body">
                  <h2>MBTI 궁합 TEST</h2>
                  <p class="card-text">자신의 MBTI와 상대방의 MBTI로 알아보는 궁합! <br> 우리의 궁합은?! </p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" id="viewbt" class="btn btn-sm btn-outline-secondary" onclick="mbti2()">보러가기</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
                <div class="card-body">
                  <h2>연예인의 MBTI 유형</h2>
                  <p class="card-text">자신의 MBTI외에 <br> 연예인의 MBTI 유형이 알고싶다면?! <br><br></p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" id="viewbt" class="btn btn-sm btn-outline-secondary" onclick="superstar()">보러가기</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>

      <!--  성격유형 검사 -->
      <h2 style="background-color: orange; color:white; font-size:40px; height:70px;   text-align: center; "> 여기서
        잠깐!!!!!! 성격 유형 정리</h2>
      <br><br>
      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading"> 외향형<br />
            <p class="lead">사교성이 뛰어나 폭 넓은 대인관계를 유지하고 있으며, 활동적인 자리를 좋아하고 매사 정렬적이다.
            </p>
        </div>
        <div class="col-md-5">
          <img src="{{ url_for('static', filename='css/image/E.png') }}" alt="E" width="300" height="300"
            preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 500x500">
          <title>Placeholder</title>
          <rect width="100%" height="100%" fill="#eee"></rect><text x="50%" y="50%" fill="#aaa" dy=".3em"></text>
        </div>
      </div>
      <hr>

      <div class="row featurette">
        <div class="col-md-7 order-md-2">
          <h2 class="featurette-heading">내향형
            <p class="lead">소수와의 길이 있는 대인관계를 유지하는 것을 좋아하는 편이며, 조용하고 신중하다.
              <br><br>어떤 사건이든 사전에 완벽히 인지한 후의 경험하는 것을 선호한다.
            </p>
        </div>
        <div class="col-md-5 order-md-1">
          <img src="{{ url_for('static', filename='css/image/I.png') }}" alt="I" width="300" height="300"
            preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 500x500">
          <title>Placeholder</title>
          <rect width="100%" height="100%" fill="#eee"></rect><text x="50%" y="50%" fill="#aaa" dy=".3em"></text>

        </div>
      </div>
      <br>
      <hr><br>

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading"> 감각형<br /> </h2>
          <p class="lead">오감에 의존하는 경향이 있으며 실제 경험을 중시한다. 현재에 초점을 맞추고 정확하고 철저하게 일처리를 하는 것이 큰 특징이다.
          </p>
        </div>
        <div class="col-md-5">
          <img src="{{ url_for('static', filename='css/image/S.png') }}" alt="S" width="300" height="300"
            preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 500x500">
          <title>Placeholder</title>
          <rect width="100%" height="100%" fill="#eee"></rect><text x="50%" y="50%" fill="#aaa" dy=".3em"></text>
        </div>
      </div>
      <hr>

      <div class="row featurette">
        <div class="col-md-7 order-md-2">
          <h2 class="featurette-heading">직관형</h2>
          <p class="lead">육감 내지 영감에 의존하는 특징을 가지고 있으며, 미래지향적이다.
            <br><br>가능성과 의미 추구, 신속, 비약적으로 일처리를 하는 경향이 있다.
          </p>
        </div>
        <div class="col-md-5 order-md-1">
          <img src="{{ url_for('static', filename='css/image/N.png') }}" alt="N" width="300" height="300"
            preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 500x500">
          <title>Placeholder</title>
          <rect width="100%" height="100%" fill="#eee"></rect><text x="50%" y="50%" fill="#aaa" dy=".3em"></text>

        </div>
      </div>
      <br>
      <hr><br>


      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading"> 사고형<br /> </h2>
          <p class="lead">진실과, 사실에 주 관심을 두는 편이며, 논리적 분석적 객관적 판단을 중요하게 생각한다. </p>
        </div>
        <div class="col-md-5">
          <img src="{{ url_for('static', filename='css/image/T.png') }}" alt="T" width="300" height="300"
            preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 500x500">
          <title>Placeholder</title>
          <rect width="100%" height="100%" fill="#eee"></rect><text x="50%" y="50%" fill="#aaa" dy=".3em"></text>
        </div>
      </div>
      <hr>

      <div class="row featurette">
        <div class="col-md-7 order-md-2">
          <h2 class="featurette-heading">감정형 </h2>
          <p class="lead">사람과 관계에 주로 관심을 두는 편이며, 상황적, 정상을 참작한 설명을 중요시한다.
          </p>
        </div>
        <div class="col-md-5 order-md-1">
          <img src="{{ url_for('static', filename='css/image/F.png') }}" alt="F" width="300" height="300"
            preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 500x500">
          <title>Placeholder</title>
          <rect width="100%" height="100%" fill="#eee"></rect><text x="50%" y="50%" fill="#aaa" dy=".3em"></text>

        </div>
      </div>
      <br>
      <hr><br>

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading"> 판단형<br /></h2>
          <p class="lead">
            분명한 목적과 방향을 추구하며, 기한 엄수 및 철저한 사전계획을 중점으로 체계적으로 일처리를 하는 것을 선호한다.
          </p>
        </div>
        <div class="col-md-5">
          <img src="{{ url_for('static', filename='css/image/J.png') }}" alt="J" width="300" height="300"
            preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 300x300">
          <title>Placeholder</title>
          <rect width="100%" height="100%" fill="#eee"></rect><text x="50%" y="50%" fill="#aaa" dy=".3em"></text>
        </div>
      </div>
      <hr>

      <div class="row featurette">
        <div class="col-md-7 order-md-2">
          <h2 class="featurette-heading">인식형</h2>
          <p class="lead">목적과 방향을 유동성있게 변화시킬 수 있는 능력이 있으며 자율적이다
          <div class=""></div>
          <br><br>상황에 따라 융통성 있게 일정 변경이 가능하다.
          </p>
        </div>
        <div class="col-md-5 order-md-1">
          <img src="{{ url_for('static', filename='css/image/P.png') }}" alt="P" width="300" height="300"
            preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 300x300">
          <title>Placeholder</title>
          <rect width="100%" height="100%" fill="#eee"></rect><text x="50%" y="50%" fill="#aaa" dy=".3em"></text>

        </div>
      </div>
      <br>
      <hr><br>

      <br><br>
      <hr>
      <!-- FOOTER -->
      <footer class="container">
        <p class="float-right"><a href="#">Back to top</a></p>
        <p>© 2017-2020 Company, Inc. · <a href="#">Privacy</a> · <a href="#">Terms</a></p>
      </footer>
  </main>


</body>

</html>